body {background-color:darkolivegreen;
font-size:20px;}

h1 {
    text-align:center;
    font-size:50px;
    font-variant: small-caps;
    font-family: "Lucida Handwriting";
    text-decoration:underline;
}

.descbox {
    text-align:center;
}

h2{
    text-decoration: underline;
}

.ingredients
{
    text-align:center;
}

.ingredients > ul {
    
    display:inline-block;
}

.ingredients > ol {
    
    display:inline-block;
}

li{
    text-align:left;
}

img {
    width:575px;
    height:auto;
    border-radius:50px;
    margin: 0px auto;
    margin-bottom:50px;
    display:block;
}